<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91675607666-olvd3g899bt77gtadaq9iui3akin9drl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91675607666-olvd3g899bt77gtadaq9iui3akin9drl</string>
	<key>API_KEY</key>
	<string>AIzaSyAe9pssV7Hf1f7LcJbBdwz4yrBRf_HUwss</string>
	<key>GCM_SENDER_ID</key>
	<string>91675607666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.sogeum.lionsmarket</string>
	<key>PROJECT_ID</key>
	<string>lionsmarket-ios-7984b</string>
	<key>STORAGE_BUCKET</key>
	<string>lionsmarket-ios-7984b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91675607666:ios:65eb3813bcba2cf65638eb</string>
</dict>
</plist>